<ion-header>
  <ion-toolbar>
    <ion-title>Bem-Vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

      <ion-row >
        <ion-col>
            <ion-list inset>
 
              <ion-item>
		<ion-button (click)="doForm()" shape="round" fill="solid">Nova Inscrição</ion-button>
              </ion-item>
 
              <ion-item>
		<ion-button (click)="doLogin()" shape="round" fill="solid"> Atualizar Existente</ion-button>
              </ion-item>
 
            </ion-list>

        </ion-col>
    </ion-row>
  
</ion-content>
